// Colors
$color-primary: #ffd300;
$color-secondary: #1f1f1f;
$color-gray: #cdcdcd;
$color-warning: #f5424e;

// Breakpoints
$breakpoint-medium: 1024px;
$breakpoint-small: 768px;
$breakpoint-extra-small: 425px;